body {
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}

.navbar,
footer {
    background-color: #8c21c2 !important;
    font-weight: bold;
}

.alert {
    background-color: #dd8724 !important;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(19, 18, 18);
}

.card-body {
    text-align: center;
}

.card-body .card-text {
    font-size: 2rem;
    font-weight: bold;
}

.countries table tbody tr:hover {
    background-color: #e84545;
    color: #fff;
}

.page-item {
    background-color: #259237;
    color: #fff;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    margin: 0.5rem 0.3rem;
    border-radius: 0.3rem;
}


.page-item.active,
.page-item:hover {
    background-color: #e48f0f;
}