body {
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #aa2ee6 !important;
    font-weight: bold;
}

.alert {
    background-color: #fea82f !important;
    font-weight: 500;
}

.card-body {
    text-align: center;
}

.card-body .card-text {
    font-size: 2rem;
    font-weight: bold;
}

.countries table tbody {
    height: 500px !important;
}


.countries table tbody tr:hover {
    background-color: #e84545;
    color: #fff;
}

.page-item {
    background-color: #259237;
    color: #fff;
    padding: 0.8rem;
    cursor: pointer;
    margin: 0.5rem 0.3rem;
    border-radius: 0.3rem;
}


.page-item.active,
.page-item:hover {
    background-color: #e48f0f;
}